<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Users</title>
        <meta charset="UTF-8">
        <script>
            function makePreview(previewEl, fieldEl) {
                var objPreview = document.getElementById(previewEl);
                var objField = document.getElementById(fieldEl);
                objPreview.innerHTML = objField.value;
            }

            function httpGet() {

                var objUrl = document.getElementById("urlId");
                var name = document.getElementById("nameField").value;
                var surname = document.getElementById("surnameField").value;

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", objUrl.value + "?" + "name=" + name + "&surname=" + surname, false); // false for synchronous request

                xmlHttp.send();
                var objText = document.getElementById("content");
                objText.innerHTML = xmlHttp.responseText;

            }

            function httpGetAsync(userObj)
            {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    var objText = document.getElementById("content");
                    objText.innerHTML = xmlHttp.responseText;
                            
                    var list = JSON.parse(xmlHttp.responseText);
                    for (var i = 0; i < list.length; i++) {
                        console.log(list[i].name);
                    }
                }
                xmlHttp.open("GET", userObj.url + "?" + "name=" + userObj.name + "&surname=" + userObj.surname, true); // true for asynchronous 
                xmlHttp.send(null);
            }

            function sendAsync() {
                var objUrl = document.getElementById("urlId").value;
                var name = document.getElementById("nameField").value;
                var surname = document.getElementById("surnameField").value;
                var obj = {
                    name: name,
                    surname: surname,
                };

                obj.url = objUrl;
                httpGetAsync(obj);

            }


            function printObj() {
                var list =
                        [{
                                id: 0,
                                name: "",
                                surname: "",
                                email: ""
                            },
                            {
                                id: 0,
                                name: "",
                                surname: "",
                                email: ""
                            },
                            {
                                id: 0,
                                name: "",
                                surname: "",
                                email: ""
                            }];
                for (var i = 0; i < list.length; i++) {
                    console.log(list[i].name);
                }
            }
        </script>
    </head>
    <body style="background-color: green">
        <div>
            <fieldset>
                <legend>Fill fields:</legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="name" >
                                    Name:
                                </label>
                            </td>
                            <td>
                                <input type="text" name="name" id="nameField" onkeyup="makePreview('namePreview', 'nameField')"/>
                            </td>
                            <td>
                                <span id="namePreview"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="surname">
                                    Surname:
                                </label>
                            </td>
                            <td>
                                <input type="text" name="surname" id="surnameField" 
                                       onkeyup="makePreview('surnamePreview', 'surnameField')"/>
                            </td>
                            <td>
                                <span id="surnamePreview">

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="username">
                                    Username:
                                </label>
                            </td>
                            <td>
                                <input type="text" name="username" id="usernameField"
                                       onkeyup="makePreview('usernamePreview', 'usernameField')"/>
                            </td>
                            <td>
                                <span id="usernamePreview">

                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="roleid">
                                    Role:
                                </label>
                            </td>
                            <td>
                                <select name="roleid" 
                                        id="roleField"
                                        onchange="makePreview('rolePreview', 'roleField')">
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                            </td>
                            <td>
                                <span id="rolePreview">
                                    User
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <input type="submit" value="Search"/>
                <input type="submit" value="Insert"/>
                <input type="submit" value="Update"/>
                <input type="submit" value="Delete"/>
            </fieldset>
        </div>
        <hr/>

        <div id="content">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>surname</th>
                                    <th>username</th>
                                    <th>last login date</th>
                                    <th>registration date</th>
                                    <th>unregistration date</th>
                                    <th>role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%  for(int i=0;i<50;i++){   %>
                                <tr>
                                    <td>1</td>
                                    <td>Anar</td>
                                    <td>Salami</td>
                                    <td>AnarS</td>
                                    <td>10-10-18</td>
                                    <td>10-10-18</td>
                                    <td>10-10-18</td>
                                    <td>Admin</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>

        </div>

        <input type="text" name="url" id="urlId"/> 
        <input type="button" value="send request sync" onclick="httpGet()" />
        <input type="button" value="send request async" onclick="sendAsync()" />
        <input type="button" value="print obj" onclick="printObj()" />

    </body>
</html>
